* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url("information background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white
}

header {
    background-color: black;
    height: 80px;
    width: 100%;
    position: relative;
}

h1 {
    font-family: KaiTi;
    color: white;
    font-size: 40px;
    position: absolute;
    left: 7vw;
    top: 0;
    line-height: 80px;
}

header ul {
    position: absolute;
    right: 5vw;
    top: 0;
    line-height: 80px;
}

header li {
    font-family: KaiTi;
    list-style-type: none;
    display: inline;
    margin-right: 5vw;
}

header a {
    color: white;
    text-decoration: none;
    font-size: 25px;
}

header a:hover {
    text-decoration: underline;
}

.news {
    margin: 4vw;
    text-align: center;
    background-color: black;
    border-radius: 30px;
    padding: 0.5vw 0 4vw 0;
}

.abc {
    margin: 3vw;
}

.kaixue {
    font-family: SimHei;
    font-size: 20px;
}

.information {
    font-family: SimHei;
    text-align: center;
    margin: 10vw;
    background-color: black;
    border-radius: 30px;
    padding: 4vw 10vw 4vw 10vw;
}

.zixun {
    font-family: Kaiti;
    font-size: 20px;
    margin: 1vw;
}

footer {
    background-color: black;
    height: 80px;
    width: 100%;
    padding-bottom: 0vw;
    text-align: center;
    font-family: Comics Sans MS;
}

.Copyright {
    font-family: Comics Sans MS;
    padding: 2vw;
    filter: blur(0.5px);
}

footer p {
    font-family: Comics Sans MS;
    filter: blur(0.5px);
}

.information h2 {
    padding-bottom: 3vw;
}